.jumbotron{
  background-color: #d9d9d9;
  height: 48-px;

}

.row{
  color: #d9d9d9;
  display: flex;
  margin: 0 auto;
  padding: 15px;
}

.hyperlink{
  color: #6f96be
}

p.names{
  font-size: 20px;
}

h1#namepicture{
  text-align: center;
  color: #525252;
  font-family: serif;
  font-size: 60px;

}

img#namepicture{
    display: flex;
    margin: 0 auto;
    width: 320px;
    height: 320px;
    border-radius: 33%;
}

h1#worksheader{
  text-align: left;
  padding: 15px;
  color: #d9d9d9;
}

body{
  background-color: #525252;

}
