.jumbotron{
  background-color: #d9d9d9;
}

.row{
  color: #d9d9d9;
  padding: 25px;
  font-size: 18px;
}

.hyperlink{
  color: #6f96be;
}

.header{
  font-family: serif;
  font-size: 48px;
  padding: 25px;
  color: #525252;
}

.panel{
  background-color: #d9d9d9;

}

.epicodus{
  /*Color pulled from Epicodus logo*/
  color: #5bc8c9;
}

p.blockquote-note{
  font-size: 16px;
  padding-left: 25px;
  color: #525252;
}

p.description{
  color: #d9d9d9;
  font-size: 16px;
}

img.linkedin-logo{
  /*Unsure if float even makes a difference here*/
  float: right;
  width: 100%;
  height: 100%;
  padding: 15px;
}

img.twitch-logo{
  float: right;
  width: 100%;
  height: 100%;
  padding:15px;
}

img.linkedin-logo:hover{
  transform: scale(1.03);
  padding: 15px;
}

img.twitch-logo:hover{
  transform: scale(1.03);
  padding: 15px;
}

h1#namepicture{
  text-align: center;
  color: #525252;
  font-family: serif;
  font-size: 60px;
}

img#namepicture{
    display: flex;
    margin: 0 auto;
    width: 320px;
    height: 320px;
    border-radius: 33%;
}

blockquote{
  padding-left: 25px;
}

body{
  background-color: #525252;
}
