.jumbotron{
  background-color: #d9d9d9;
  height: 500px;

}

.row{
  color: #d9d9d9;
  padding: 25px;
  font-size: 18px;
}

.hyperlink{
  color: #6f96be
}

.header{
  padding: 25px;
  color: #525252;
  padding 25px;
}

.well{
  background-color: #d9d9d9;
}

img.linkedin-logo{
  width: 100%;
  height: 100%;
  padding: 5px;
}

img.twitch-logo{
  width: 100%;
  height: 100%;
  padding: 5px;
}

img.linkedin-logo:hover{
  transform: scale(1.1);
  padding: 5px;
}

img.twitch-logo:hover{
  transform: scale(1.1);
  padding: 5px;
}

h1#namepicture{
  text-align: center;
  color: #525252;
  font-family: serif;
  font-size: 60px;

}

img#namepicture{
    display: flex;
    margin: 0 auto;
    width: 320px;
    height: 320px;
    border-radius: 33%;
}


body{
  background-color: #525252;

}
